<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.neokree.materialtabs">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"
        tools:overrideLibrary="at.markushi.ui"/>

</manifest>
